/* common.css */
@font-face {font-family: "SFUIText-Bold"; src: url('../font/SFUIText-Bold.ttf');}
@font-face {font-family: "SFUIText-Heavy"; src: url('../font/SFUIText-Heavy.ttf');}
@font-face {font-family: "SFUIText-Light"; src: url('../font/SFUIText-Light.ttf');}
@font-face {font-family: "SFUIText-Medium"; src: url('../font/SFUIText-Medium.ttf');}
@font-face {font-family: "SFUIText-Regular"; src: url('../font/SFUIText-Regular.ttf');}
@font-face {font-family: "SFUIText-Semibold"; src: url('../font/SFUIText-Semibold.ttf');}

body {

    font-family: "SFUIText-Regular";
    font-size: 12px;
    color: #333;
    background: #000;
}

#wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #EEEEEE;
}
#container {
    width: 100%;
    background: #EEEEEE;
    padding: 189px 0 230px 0;
    -ms-overflow-style: none;

    transition: padding .2s linear 0s;
}
#container.on {
    padding: 389px 0 230px 0;
}

::-webkit-scrollbar {
    display:none;
    }

a, a:hover, a:focus, a:visited {color: #333; text-decoration: none;}

div {box-sizing: border-box;}
