/* login.css */

#wrap {background: #6E87C2;}
.top-area {background: #6E87C2;}
.bottom-area {background: #fff;}

.login-logo {
    width: 142px;
    padding: 19px 0;
    display: block;
    margin: 0 auto;
}

#login-page h1 {
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin-bottom: 95px;
}

.login-form {
    height: 248px;

    color: rgba(113, 113, 129, 1);

    margin: 0 43px;
    border-radius: 24px;

    background: #fff;
    border: 1px solid rgba(113, 113, 129, 0.25);

    transform: translateY(-60px);

    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.user-id-div {position: relative; margin: 24px 29px 0 29px;}
.user-id-label1 {display: block; opacity: 0.5; margin-bottom: 11px;}
.user-id-label2 {position: absolute; right: 1px; bottom:7.5px;}
.user-id {width: 100%; border: none; border-bottom: 1px solid #717181;}

.user-pw-div {position: relative; margin: 30.5px 29px 0 29px;}
.user-pw-label1 {display: block; opacity: 0.5; margin-bottom: 11px;}
.user-pw-label2 {position: absolute; right: 1px; bottom:7.5px;}
.user-pw {width: 100%; border: none; border-bottom: 1px solid #717181;}

.login-forget {
    display: block;
    text-align: center;
    margin: 36.5px auto 0 auto;
}

.login-button {display: block;}