/* splash.css */

#splash-page {
    width: 100%;
    height: 724px;
    background: #6E87C2;
}

.splash-div {
    display: flex;
    flex-direction: column;
    padding-top: 219px;
}

.splash-slogan {
    color: #fff;
    font-size: 24px;
    text-align: center;
    
    opacity: 0;
    animation: appear .4s ease-in-out forwards .8s;
}

.splash-slogan strong {
    font-weight: bold;
}

.splash-logo {
    margin-top: 31px;
    text-align: center;

    opacity: 0;
    animation: appear .4s ease-in-out forwards .4s;
}

.splash-logo img {
    width: 196.86px;

}

@keyframes appear {
    0% {opacity: 0; transform: translate3d(0,10px,0);}
    100% {opacity: 1; transform: translate3d(0,0,0);}
}